* {
    color: black;
    font-size: 12pt;
    background-color: white;
    padding: 0%;
    margin: 0%;
    display: block;
    text-shadow: none;
    border: none;
    width: 100%;
    box-shadow: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, cite {
    text-shadow: none;
    color: black;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img, picture, figure, figcaption, header, nav, #visual, #gallery, #navmenu, #icon-1, #icon, details, summary {
    visibility: hidden;
    display: none;
}

script  {
    display: none;
}
